body {font-family: 'JetBrains Mono';background:#1e3250;color:white;}
.btn {padding:1rem;padding-left:2.5rem;padding-right:2.5rem;min-width:11rem;border-radius:4px} i{font-size:.8rem}
.gr {background:#364d63}
.shape-div-top img, .shape-div-b img {position: relative;display:block;width:calc(100% + 1.3px);height:42px}
.shape-div-top img {transform:rotateX(180deg)}
.shape-div-b, .shape-div-top {position:relative;top:0;left:0;width:100%;overflow:hidden;line-height:0}
td {min-width:5rem;border:1px solid #1e3250;text-align:center;padding-bottom:8px;padding-top:8px}
table {border-radius:12px} img {vertical-align:middle}
.subtitle {font-size:2rem;text-align:center;padding-bottom:3rem}
* {scrollbar-color: #c8c8c8 black;transition:all .2s}
.bblack {background-color:#1e1e1e;border:1px solid #5a5a5a}
.margin,.mar2 {margin-left:auto;margin-right:auto}
.margin {max-width:1200px}
.mar2 {max-width:1300px}
@media (max-width:1205px){.margin,.mar2 {max-width:95%}}
@media (max-width:992px){.margin,.mar2 {max-width:100%}}
.w3-border {border: 1px solid #323232 !important}

ul > li {padding:4px}
ul > li:hover {background:black}

.ribbon{
	width:12.1em;height:12.1em;
	position:absolute;overflow:hidden;
	top:0;right:0;z-index:9999;font-size:13px;
}

.ribbon:after,.ribbon:before{
	position:absolute;display:block;
	width:15.38em;height:1.54em;
	top:3.23em;right:-3.23em;
	box-sizing:content-box;
	transform:rotate(45deg)
}
.ribbon:before{
	content:"";
	padding:.38em 0;
	background-color:#325582;
	background-image:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.15));
	box-shadow:0 .15em .23em 0 rgba(0,0,0,.2);
}
.ribbon:after{
	content:attr(data-ribbon);color:#fff;line-height:1.54em;text-shadow:0 -.08em rgba(0,0,0,.5);
	text-align:center;text-indent:0;padding:.15em 0;margin:.15em 0;border:0;
}
.ribbon{right:auto;left:0}
.ribbon:after,.ribbon:before{right:auto;left:-3.23em}
.ribbon:after,.ribbon:before {transform:rotate(-45deg)}